@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.header .headerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f0ea;
  font-family: "Manrope", sans-serif;
}

.headerMainLeft .logo a {
  all: unset;
}

.headerMain .headerMainMiddle {
  display: flex;
}

.headerMain .headerMainRight {
  display: flex;
}

.headerMainRight .cartWrapper {
  display: flex;
}
